.about-container {
 background-image: url('/images/leisha.png');
 height: 750px; 
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

 display: flex;
 flex-direction: row;
}

.about-content-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.synopsis-header {
  width: 50%;
  align-self: flex-end;
  font-size: 40px;
  font-weight: 700;
  margin-right: 40px;
  margin-top: 120px;
  color: #336699;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.synopsis-text {
  width: 50%;
  align-self: flex-end;
  font-size: 17px;
  margin-right: 40px;
  margin-top: 10px;
}