.production-container {
  background-image: url('/images/isabelle-dinner.jpg');
  width: 100%;
  height: 586px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.production-text-cont {
  width: 40%;
  Height: 100%;
  background-color: rgba(110, 109, 109, 0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.production-links {
  font-size: 2rem;
  align-items: center;
  padding: 20px;
  text-decoration: none;
}

.production-header {
  font-size: 2rem;
  z-index: 2;
  width: 100%;
  justify-content: center;
  padding: 20px;
}

.press-kit-link {
  text-decoration: none;
}
