.gallery-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-header{
  width: 100%;
  text-align: center;
}

.image-gallery {
  width: 95%;
  align-self: center;
  padding: 20px;
}