.synopsis-container {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.synopsis-header {
  color: white;
  padding: 20px;
}

.synopsis-text {
  width: 65%;
  font-size: 1.3rem;
  color: white;
  align-items: center;
  text-align: center;
  font-style: oblique;
  padding: 30px;
}
