.faq-text {
  text-align: center;
  width: 100%;
}

.faq-question {
  text-align: center;
  width: 100%;
}

.faqs-container {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-content: center;
}

.faq-texts-container{
  width: 80%;
  align-self: center;
}

.faq-header{
 width: 100%;
 text-align: center;
}

.faq-blog-link{
  color:grey;
  text-decoration: none;
}