.bulk-head-container {
  background-image: url('/film-stills/isabelle-looks-at-connor.jpg');
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-position-x: 44%;
  background-repeat: no-repeat;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  display: flex;
  flex-direction: row;
}


.top-box-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.laurels-div-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.laurels-div {
  width: 100%;
  height: 100%;
  grid-row: 1 / 3;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.laurel {
  max-width: 90%;
  align-self: center;
  padding: 10px;
}

.laurel1 {
  grid-row: 1 / 2;
  -ms-grid-row: 1;
  grid-column: 1 / 2;
  -ms-grid-column: 1;
}

.laurel2 {
  grid-row: 1 / 2;
  -ms-grid-row: 1;
  grid-column: 2 / 3;
  -ms-grid-column: 2;
}

.laurel3 {
  grid-row: 2 / 3;
  -ms-grid-row: 2;
  grid-column: 1 / 2;
  -ms-grid-column: 1;
}

.laurel4 {
  grid-row: 2 / 3;
  -ms-grid-row: 2;
  grid-column: 2 / 3;
  -ms-grid-column: 2;
}
.laurel5 {
  grid-row: 3 / 4;
  -ms-grid-row: 3;
  grid-column: 1 / 2;
  -ms-grid-column: 1;
}

.laurel6 {
  grid-row: 3 / 4;
  -ms-grid-row: 3;
  grid-column: 2 / 3;
  -ms-grid-column: 2;
}
.laurel7 {
  grid-row: 4 / 5;
  -ms-grid-row: 3;
  grid-column: 1 / 2;
  -ms-grid-column: 1;
}

.laurel8 {
  grid-row: 4 / 5;
  -ms-grid-row: 3;
  grid-column: 2 / 3;
  -ms-grid-column: 2;
}

.logo-div {
  width: 50%;
  align-self: flex-end;
}

.baby-logo-top-box {
  max-width: 90%;
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-text {
  width: 50%;
  align-self: flex-end;
  font-size: 18px;
}

.link-trailer-cont {
  width: 50%;
  align-self: flex-end;
  margin-top: 40px;
}

.trailer-link {
  width: 25%;
  font-size: 22px;
  background-color: transparent;
  text-align: center;
  align-self: flex-start;
  padding: 5px;
  border: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 3%;
  text-decoration: none;
}

.trailer-link:hover {
  color: black;
  border-color: black;
}


@media (max-width:550px) {
  .trailer-link {
    font-size: 16px;
  }

  .laurels-div {
    display: none;
  }

  .laurels-div-cont {
    display: none;
  }

  .bulk-text-cont {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-content: center;
  }
  
  .header-text {
    align-self: center;
    text-align: center;
  }

  .link-trailer-cont {
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .logo-div {
    align-self: center;
    display: flex;
    justify-content: center;
  }

  .trailer-link {
    align-self: center;
    width: 50%;
  }

  .bulk-head-container {
    background-position-x: 45.5%;
  }

}

@media (max-width:450px) {

  .bulk-text-cont {
    height: 100%;
  }
  .bulk-head-container {
    width: 100%;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    .bulk-head-container {
      background-attachment:scroll
    }
  }

.top-box-cont {
  justify-content: flex-end;
}

  .logo-div {
    width: 70%;
  }
  .header-text {
    width: 70%;
    font-size: 16px;
  }
  .link-trailer-cont {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 35px;
  }

  .trailer-link {
    font-size: 18px;
  }
}

@media (max-width:350px) {
  .trailer-link {
    font-size: 12px;
  }
}