.bulk-head-container {
  background-image: url('/images/isabelle-looks-at-connor.png');
  height: 750px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}


.top-box-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.laurels-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.laurel {
  max-width: 20%;
  align-self: flex-start;
  margin: 30px;
}

.logo-div {
  width: 50%;
  align-self: flex-end;
}

.baby-logo-top-box {
  max-width: 60%;
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-text {
  width: 50%;
  align-self: flex-end;
  font-size: 18px;
  /* font-family: 'Montserrat', sans-serif; */
}

.link-trailer-cont {
  width: 50%;
  align-self: flex-end;
  margin-top: 40px;
}

.trailer-link {
  width: 25%;
  font-size: 22px;
  background-color: transparent;
  text-align: center;
  align-self: flex-start;
  padding: 5px;
  border: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 3%;
  text-decoration: none;
}

.trailer-link:hover {
  color: black;
  border-color: black;
}

@media (max-width:450px) {
  .bulk-head-container {
    width: 100%;
  }
.top-box-cont {
  justify-content: flex-end;
}

  .laurels-div {
    margin-bottom: 100px;
  }

  .laurel {
    max-width: 60%;
    margin-bottom: 0px;
  }
  .logo-div {
    width: 70%;
  }
  .header-text {
    width: 70%;
    font-size: 16px;
  }
  .link-trailer-cont {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 100px;
  }

  .trailer-link {
    font-size: 18px;
  }
}