.contact-container {
  background-image: url('/film-stills/isabelle-dinner.jpg');
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-position-x: 5%;
  background-repeat: no-repeat;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.contact-content-cont {
 width: 50%;
 display: flex;
 flex-direction: column;
}

.contact-header {
 align-self: flex-end;
 font-size: 40px;
 font-weight: 700;
 margin-right: 5%;
 margin-top: 40px;
 color: #336699;
 letter-spacing: 1px;
 word-wrap: normal;
}

.contact-text-cont {
 align-self: flex-end;
 margin-right: 5%;
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 font-size: 18px;
 word-wrap: normal;
}

.contact-form {
  display:flex;
  flex-direction: column;
}

.form-label {
  font-size: 0.7rem
}

.inputField {
  border: 1px solid white;
  background-color: rgba(204, 204, 204, 0.5);
  color: white;
  font-family: 'Lato', sans-serif;
  border-radius: 3%;
  margin-bottom: 3px;
  width: 20vw;
}

#text-area {
  height: 40px;
  width: calc(20vw - 3px);
  resize: vertical;  
  font-family: 'Lato', sans-serif;
}

.formButton {
  border-width: 3px;
  border-color: white;
  border: 1px solid white;
  background-color: rgba(204, 204, 204, 0.5);
  border-radius: 3%;
  color:white;
  width: 50%;
}
@media (max-width: 450px) {
  .contact-container {
    flex-direction: row-reverse;
    background-position: 10%;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    .contact-container {
      background-attachment:scroll
    }
  }

  .contact-content-cont {
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 10%;
  }

  .contact-text-cont {
    align-self: flex-start;
    margin-left: 10px;
    width: 100%;
  }

  .contact-header {
    align-self: flex-start;
    margin-left: 10px;
    width: 100%;
    color: white;
  }

  .inputField {
    width: 30vw;
    color: white;
  }

  #text-area {
    width: calc(30vw + 6px);
    color: white;
  }
}

@media (max-width:350px) {
  .contact-text-cont{
    font-size: 16px;
  }
}