.contact-container {
  background-image: url('/images/isabelle-dinner.jpg');
  height: 750px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
}

.contact-content-cont {
 width: 50%;
 display: flex;
 flex-direction: column;
}

.contact-header {
 width: 40%;
 align-self: flex-end;
 font-size: 40px;
 font-weight: 700;
 margin-right: 40px;
 margin-top: 40px;
 color: #336699;
 font-family: 'Montserrat', sans-serif;
 letter-spacing: 1px;
}

.contact-text-cont {
 width: 40%;
 align-self: flex-end;
 margin-right: 40px;
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 font-size: 22px;
}

.email-link {
  text-decoration: none;
}

.email-link:hover {
  color: #336699;
}